In [2]:
import pandas as pd

In [32]:
houses = pd.read_csv('../data/train.csv')

In [22]:
houses.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [17]:
houses['PoolQC'].isna().sum()

1453

In [6]:
print("{} and {}".format('asdfasdf', 'asdfadf'))

asdfasdf and asdfadf

In [30]:
def showColumnsWithNanValues():
    print("Qty of nan values by column:")
    columnsTotal = 0
    for column in houses.columns.values:
        nanQty = houses[column].isna().sum()
        columnType = houses[column].dtypes
        if nanQty > 0:
            print("{} => nan: {}, type: {}".format(column, nanQty, columnType))
            columnsTotal += 1
    print("Columns total: {}".format(columnsTotal))

In [33]:
showColumnsWithNanValues()

Qty of nan values by column:
LotFrontage => nan: 259, type: float64
Alley => nan: 1369, type: object
MasVnrType => nan: 8, type: object
MasVnrArea => nan: 8, type: float64
BsmtQual => nan: 37, type: object
BsmtCond => nan: 37, type: object
BsmtExposure => nan: 38, type: object
BsmtFinType1 => nan: 37, type: object
BsmtFinType2 => nan: 38, type: object
Electrical => nan: 1, type: object
FireplaceQu => nan: 690, type: object
GarageType => nan: 81, type: object
GarageYrBlt => nan: 81, type: float64
GarageFinish => nan: 81, type: object
GarageQual => nan: 81, type: object
GarageCond => nan: 81, type: object
PoolQC => nan: 1453, type: object
Fence => nan: 1179, type: object
MiscFeature => nan: 1406, type: object
Columns total: 19

In [19]:
houses['Id'].dtypes

dtype('int64')

In [45]:
# Replace float or int missing data with column mean value
print("Replaced nan values of columns:")
for column in houses.columns.values:
    nanQty = houses[column].isna().sum()
    columnType = houses[column].dtypes
    if nanQty > 0:
        if columnType == 'float64' or columnType == 'int64':
            houses[column].fillna((houses[column].mean()), inplace=True)
            print("{}".format(column))

Replaced nan values of columns:

In [46]:
showColumnsWithNanValues()

Qty of nan values by column:
Alley => nan: 1369, type: object
MasVnrType => nan: 8, type: object
BsmtQual => nan: 37, type: object
BsmtCond => nan: 37, type: object
BsmtExposure => nan: 38, type: object
BsmtFinType1 => nan: 37, type: object
BsmtFinType2 => nan: 38, type: object
Electrical => nan: 1, type: object
FireplaceQu => nan: 690, type: object
GarageType => nan: 81, type: object
GarageFinish => nan: 81, type: object
GarageQual => nan: 81, type: object
GarageCond => nan: 81, type: object
PoolQC => nan: 1453, type: object
Fence => nan: 1179, type: object
MiscFeature => nan: 1406, type: object
Columns total: 16

### Columns with nan value description
- Alley => is basic pave or no pave, so it is just make a numeric label
- MasVnrType => replace nan with None
- BsmtQual => replace nan with NA
- BsmtCond => replace nan with NA

In [54]:
houses['BsmtCond']

0       TA
1       TA
2       TA
3       Gd
4       TA
        ..
1455    TA
1456    TA
1457    Gd
1458    TA
1459    TA
Name: BsmtCond, Length: 1460, dtype: object

In [ ]:
# Next step is to build function that replaces column nan values with some desired values
# for string data