In [ ]:
import pandas as pd

In [ ]:
houses = pd.read_csv('../data/train.csv')

In [94]:
houses.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NA,Reg,Lvl,AllPub,...,0,NA,NA,NA,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NA,Reg,Lvl,AllPub,...,0,NA,NA,NA,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NA,IR1,Lvl,AllPub,...,0,NA,NA,NA,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NA,IR1,Lvl,AllPub,...,0,NA,NA,NA,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NA,IR1,Lvl,AllPub,...,0,NA,NA,NA,0,12,2008,WD,Normal,250000

In [ ]:
houses['PoolQC'].isna().sum()

In [ ]:
print("{} and {}".format('asdfasdf', 'asdfadf'))

## Feature Engineering
In this section the missing values of the columns are filled with some choosen value

In [ ]:
def showColumnsWithNanValues():
    nanColumnsNames = list()
    print("Qty of nan values by column:")
    columnsTotal = 0
    for column in houses.columns.values:
        nanQty = houses[column].isna().sum()
        columnType = houses[column].dtypes
        if nanQty > 0:
            print("{} => nan: {}, type: {}".format(column, nanQty, columnType))
            columnsTotal += 1
            nanColumnsNames.append(column)
    print("Columns total: {}".format(columnsTotal))

In [ ]:
showColumnsWithNanValues()

In [ ]:
houses['Id'].dtypes

In [ ]:
# Replace float or int missing data with column mean value
print("Replaced nan values of columns:")
for column in houses.columns.values:
    nanQty = houses[column].isna().sum()
    columnType = houses[column].dtypes
    if nanQty > 0:
        if columnType == 'float64' or columnType == 'int64':
            houses[column].fillna((houses[column].mean()), inplace=True)
            print("{}".format(column))

In [ ]:
showColumnsWithNanValues()

### Columns with nan value description
- Alley => is basic pave or no pave, so it is just make a numeric label
- MasVnrType => replace nan with None
- BsmtQual => replace nan with NA
- BsmtCond => replace nan with NA
- BsmtExposure => replace nan with NA
- BsmtFinType1 => replace nan with NA
- BsmtFinType2 => replace nan with NA
- Electrical => replace nan with Mixed
- FireplaceQu => replace nan with NA
- GarageType => replace nan with NA
- GarageFinish => replace nan with NA
- GarageQual => replace nan with NA
- GarageCond => replace nan with NA
- PoolQC => replace nan with NA
- Fence => replace nan with NA
- MiscFeature => replace nan with NA

In [ ]:
nanColumnsNames

In [ ]:
print("Filled nan by NA value:")
columnsTotal = 0
for column in nanColumnsNames:
    nanQty = houses[column].isna().sum()
    columnType = houses[column].dtypes
    if nanQty > 0:
        print("Filled {} with NA".format(column))
        columnsTotal += 1
        houses[column].fillna('NA', inplace=True)
print("Columns total: {}".format(columnsTotal))

In [ ]:
def replaceColumnNeedleByValue(column, needle, newValue):
    for index, value in houses[column].items():
        if value == needle:
            houses[column][index] = newValue

In [ ]:
replaceColumnNeedleByValue('MasVnrType', 'Na', 'None')

In [91]:
houses['Electrical'].fillna('Mixed', inplace=True)

In [ ]:
houses['Electrical'].head(40)

## Label the string values with numeric representation

In [ ]:
houses.head(20)

In [96]:
from sklearn import preprocessing
label_encoder = preprocessing.LabelEncoder()

In [ ]:
# Label string values of clumns
print("Label string values of clumns:")
for column in houses.columns.values:
    columnType = houses[column].dtypes
    if columnType != 'float64' or columnType != 'int64':
        houses[column] = label_encoder.fit_transform(houses[column])
        print("Processed column => {}".format(column))

In [98]:
houses.head(20)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,0,5,3,36,327,1,1,3,3,0,...,0,3,4,1,0,1,2,8,4,412
1,1,0,3,52,498,1,1,3,3,0,...,0,3,4,1,0,4,1,8,4,339
2,2,5,3,39,702,1,1,0,3,0,...,0,3,4,1,0,8,2,8,4,442
3,3,6,3,31,489,1,1,0,3,0,...,0,3,4,1,0,1,0,8,0,194
4,4,5,3,56,925,1,1,0,3,0,...,0,3,4,1,0,11,2,8,4,494
5,5,4,3,57,915,1,1,0,3,0,...,0,3,2,3,10,9,3,8,4,203
6,6,0,3,47,552,1,1,3,3,0,...,0,3,4,1,0,7,1,8,4,573
7,7,5,3,42,593,1,1,0,3,0,...,0,3,4,3,2,10,3,8,4,390
8,8,4,4,22,138,1,1,3,3,0,...,0,3,4,1,0,3,2,8,0,151
9,9,14,3,21,222,1,1,3,3,0,...,0,3,4,1,0,0,2,8,4,113
10,10,0,3,41,691,1,1,3,3,0,...,0,3,4,1,0,1,2,8,4,150
11,11,5,3,57,769,1,1,0,3,0,...,0,3,4,1,0,6,0,6,5,607
12,12,0,3,42,853,1,1,1,3,0,...,0,3,4,1,0,8,2,8,4,208
13,13,0,3,63,630,1,1,0,3,0,...,0,3,4,1,0,7,1,6,5,547
14,14,0,3,42,661,1,1,0,3,0,...,0,3,1,1,0,4,2,8,4,254
15,15,3,4,22,138,1,1,3,3,0,...,0,3,0,1,0,6,1,8,4,158
16,16,0,3,42,699,1,1,0,3,0,...,0,3,4,3,10,2,4,8,4,225
17,17,10,3,44,649,1,1,3,3,0,...,0,3,4,3,6,9,0,8,4,48
18,18,0,3,37,897,1,1,3,3,0,...,0,3,4,1,0,5,2,8,4,260
19,19,0,3,41,231,1,1,3,3,0,...,0,3,2,1,0,4,3,0,0,188