In [46]:
import pandas as pd
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score
from sklearn.tree import DecisionTreeClassifier

In [4]:
trainData = pd.read_csv('../data/train.csv')

In [5]:
trainData.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
trainData.info()

In [12]:
# label_encoder object knows how to understand word labels.
label_encoder = preprocessing.LabelEncoder()

In [15]:
trainData['SexCode'] = label_encoder.fit_transform(trainData['Sex'])
trainData['EmbarkedCode'] = label_encoder.fit_transform(trainData['Embarked'])

In [23]:
trainData['Pclass'].unique()

array([3, 1, 2])

In [26]:
trainData.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,SexCode,EmbarkedCode
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,1,2
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,0,0
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,0,2
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,0,2
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,1,2

In [28]:
filteredTrainData = pd.DataFrame(
    columns=[
        'Survived', 'Pclass', 'SibSp', 'Parch', 'SexCode', 'EmbarkedCode'
    ]
)
filteredTrainData['Survived'] = trainData['Survived']
filteredTrainData['Pclass'] = trainData['Pclass']
filteredTrainData['SibSp'] = trainData['SibSp']
filteredTrainData['Parch'] = trainData['Parch']
filteredTrainData['SexCode'] = trainData['SexCode']
filteredTrainData['EmbarkedCode'] = trainData['EmbarkedCode']

In [38]:
# filteredTrainData.iloc[:,0]
filteredTrainData.head()

   Survived  Pclass  SibSp  Parch  SexCode  EmbarkedCode
0         0       3      1      0        1             2
1         1       1      1      0        0             0
2         1       3      0      0        0             2
3         1       1      1      0        0             2
4         0       3      0      0        1             2

### Build Model

In [39]:
# Trait Test Data
x = filteredTrainData.iloc[:,1:5].values
y = filteredTrainData.iloc[:,0]

In [48]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=0)

In [49]:
model = DecisionTreeClassifier()
model.fit(x_train,y_train)

DecisionTreeClassifier()

In [51]:
# Accuracy of the model
predictions = model.predict(x_test)

myConfusionMatrix = confusion_matrix(y_test, predictions)

accuracyScore = accuracy_score(y_test, predictions)
accuracyScore = 1 - accuracyScore
accuracyScore

0.21641791044776115

### Test Model

In [6]:
testData = pd.read_csv('../data/test.csv')

In [24]:
testData['SexCode'] = label_encoder.fit_transform(testData['Sex'])
testData['EmbarkedCode'] = label_encoder.fit_transform(testData['Embarked'])

In [ ]:
testData.head()