In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [8]:
df = pd.read_csv('./datasets/temperature_go_2022.csv', sep='|', encoding='latin-1')

In [9]:
df.head(10)

                                          REGIAO:;CO
0                                             UF:;GO
1                                   ESTACAO:;GOIANIA
2                                 CODIGO (WMO):;A002
3                               LATITUDE:;-16,642841
4                              LONGITUDE:;-49,220222
5                                    ALTITUDE:;727,3
6                         DATA DE FUNDACAO:;29/05/01
7  Data;Hora UTC;PRECIPITAÇÃO TOTAL, HORÁRIO (mm)...
8  2022/01/01;0000 UTC;;928;928;926,8;;20,8;18,8;...
9  2022/01/01;0100 UTC;;928,6;928,6;928;;20,8;19,...